*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

			/*Home Section */
	
.back{
	background: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(img/hero-bg.jpg) fixed;
	background-size: cover;
	color: #fff;
	width: auto;
	height: 100vh;
}
.img-container{
	width: 100%;

}
.container-nav{
	width:100%;
	margin: auto;
}
.menu-sec{

}
.menu{
	display: flex;
	}
.menu a:hover{
	/*text-decoration: underline;
	text-decoration-color: #eb4034;*/
	border-bottom: 5px solid #eb4034;
	transition: ease in 3s;
	transform: scale(1,1);
}
.logo{
	width: 30%;
	margin: auto;
	padding: 30px;
}
.nav{
	width: 60%;
	padding: 30px;
	font-size: 19 px;
	text-align: center;
}
.nav-1{
	display: flex;
	justify-content: space-evenly;
}
.nav-bar{
	width: 11.5%;
}
.nav a{
	text-decoration: none;
	color: #fff;
}
.nav a:hover{
	font: underline ;
}
.logo h2:hover{
	cursor: pointer;
}

.home-container{
	width: 100%;
	color: #fff;
}
.home-row{
	text-align: center;
	margin: auto;
	padding: 150px;
}
.home-head h3{
	background-color: #f2f2f24f;
	border-radius: 25px;
	width: 30%;
	padding: 10px;
	margin: auto;
}
.home-col p,h1{
	padding: 25px;
}
.home-btn button{
	border-radius: 20px;
	width: 15%;
	height: 5vh;
	border: 2px solid #ffff;
	background-color: #f2f2f24f;
	color: #fff;
	margin-top: 20px;
}
.home-btn button:hover{
	background-color: #e80911;
	cursor: pointer;
}


				/*About Section*/



.about-container{
	width: 90%;
	height: 100vh;
	margin: auto;
}
.about-row{
	padding: 50px;
}
.about-col1{
	text-align: center;
}
.about-col1 p{
	padding: 0 270px;
	font-size: 40px;
}
.about-head h4{
	background-color: #e43c5c73;
	color: #fa050d;
	border-radius: 25px;
	width: 15%;
	margin:  auto;
}
.about-col2{
	display:flex;
	justify-content: center;
	margin-top: 60px;
}
.about-col2 p{
	padding: 20px;
}
.about-col2-content1{
	width: 50%;
}
.about-col2-content2{
	width: 50%;
	text-align: justify
}
.about-col2-content2 p{
	line-height: 1.5;
}
.about-icon li{
	list-style: none;
	padding: 10px;
}
.about-icon i{
	color: #e80911;
}
.about-btn button{
	border-radius: 20px;
	width: 20%;
	height: 5vh;
	border: 2px solid #e43c5c;
	color: #e43c5c;
	background-color: #fff;
}
.about-btn button:hover{
	background-color: #e80911;
	color: #fff;
}
.about-col1 span{
	color:#e80911;
}


			/* Service Section*/	
		
		
		
.service-container{
	width: 90%;
	margin: auto;
}
.service-head h4{
	background-color: #e43c5c73;
	color: #fa050d;
	border-radius: 25px;
	width: 15%;
	margin:  auto;
	text-align: center;
}
.service-col1{
	width: 50%;
	margin: auto;
	text-align: center;
}
.service-col2{
	display: flex;
	justify-content: space-evenly;
	padding: 30px;
}
.service-col2 i,h3,p{
	padding: 7px;
}
.service-card{
	width: 20%;
	height: 40vh;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 10px 10px 10px 10px #0000002b; 
	transition: height 2s;
}
.card-icon i{
	color: #fa050d;
	font-size: 30px;
}
.service-card:hover{
	color: #fff;
	background-color: #f21640fc;
	height: 40vh;
}
.service-col3{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin: 20px 20px;
	padding: 30px 0;
}
.service-card-box{
	width: 22%;
	height: 15vh;
	box-shadow: 5px 5px 5px 5px #0000002b; 
	padding: 20px;
	text-align: center;
	margin: 10px 0;
}
.icon1 i{
	color: #c78720;
}
.icon2 i{
	color: #204fc7;
}
.icon3 i{
	color: #c7204f;
}
.icon4 i{
	color: #c720bc;
}
.icon5 i{
	color: #2095c7;
}
.icon6 i{
	color: #c78720;
}
.icon7 i{
	color: #2095c7;
}
.icon8 i{
	color: #2b2eed;
}
.icon9 i{
	color: #b07912;
}
.icon10 i{
	color: #b01288;
}
.icon11 i{
	color: #b04112;
}
.icon12 i{
	color: #17b012;
}
.service-card-box p:hover{
	color: #f2052c;
}
.service-card-box:hover{
	cursor: pointer;
}
.service-col4{
	background: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(img/cta-bg.jpg) fixed;
	background-size: cover;
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 50px;
}
.ser-btn button{
	border-radius: 20px;
	width: 20%;
	height: 5vh;
	border: 2px solid #e43c5c;
	color: #e43c5c;
	background-color: #ffffff4f;
}
.ser-btn button:hover{
	background-color: #e80911;
	color: #fff;
}

	
			/*Portfolio*/
			
			
.por-container{
	width: 90%;
	margin: auto;
}
.por-head{
	margin-top: 40px;
}
.por-head h4{
	background-color: #e43c5c73;
	color: #fa050d;
	border-radius: 25px;
	width: 15%;
	margin:  auto;
	text-align: center;
}
.por-col1{
	text-align: center;
}
.por-col1 p{
	width: 50%;
	margin: auto;
	padding: 30px;
}
.por-sec-link a:hover{
	background-color: #e43c5c73;
	color: #fff;
}
.por-sec-link a{
	text-decoration: none;
	padding: 15px;
	width: 25%;
	background-color: #bcc0c4;
	border-radius: 20px;
	margin: auto;
}
.por-sec-link{
	display: flex;
	justify-content: center;
	gap: 20px;
}
.por-all{
	width: 5%;
}
.por-app{
	width: 5%;
}
.por-card{
	width: 5%;
}
.por-web{
	width: 5%;
}
.por-imgs{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin: 40px 0;
}
.por-imgs img{
	max-width: 100%;
}
.por-img1{
	width:30%;
	position: relative;
	overflow: hidden;
}
.por-img-content1:hover{
	cursor: pointer;
}
.por-img-content1{
	position: absolute;
	top: 230px;
	bottom: 0;
	background-color: #e43c5c;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	opacity: 0;
}
.por-img1:hover .por-img-content1{
	opacity: 1.0;
	transition: all 2s;
}
.por-img2{
	width:30%;
	position: relative;
	overflow: hidden;
}
.por-img-content2:hover{
	cursor: pointer;
}
.por-img-content2{
	position: absolute;
	top: 230px;
	bottom: 0;
	background-color: #e43c5c;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	opacity: 0;
}
.por-img2:hover .por-img-content2{
	opacity: 1.0;
	transition: all 2s;
}
.por-img3{
	width:30%;
	position: relative;
	overflow: hidden;
}
.por-img-content3:hover{
	cursor: pointer;
}
.por-img-content3{
	position: absolute;
	top: 230px;
	bottom: 0;
	background-color: #e43c5c;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	opacity: 0;
}
.por-img3:hover .por-img-content3{
	opacity: 1.0;
	transition: all 2s;
}
.por-img4{
	width:30%;
	position: relative;
	overflow: hidden;
}
.por-img-content4:hover{
	cursor: pointer;
}
.por-img-content4{
	position: absolute;
	top: 230px;
	bottom: 0;
	background-color: #e43c5c;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	opacity: 0;
}
.por-img4:hover .por-img-content4{
	opacity: 1.0;
	transition: all 2s;
}
.por-img5{
	width:30%;
	position: relative;
	overflow: hidden;
}
.por-img-content5:hover{
	cursor: pointer;
}
.por-img-content5{
	position: absolute;
	top: 230px;
	bottom: 0;
	background-color: #e43c5c;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	opacity: 0;
}
.por-img5:hover .por-img-content5{
	opacity: 1.0;
	transition: all 2s;
}
.por-img6{
	width:30%;
	position: relative;
	overflow: hidden;
}
.por-img-content6:hover{
	cursor: pointer;
}
.por-img-content6{
	position: absolute;
	top: 230px;
	bottom: 0;
	background-color: #e43c5c;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	opacity: 0;
}
.por-img6:hover .por-img-content6{
	opacity: 1.0;
	transition: all 2s;
}
.por-img7{
	width:30%;
	position: relative;
	overflow: hidden;
}
.por-img-content7:hover{
	cursor: pointer;
}
.por-img-content7{
	position: absolute;
	top: 230px;
	bottom: 0;
	background-color: #e43c5c;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	opacity: 0;
}
.por-img7:hover .por-img-content7{
	opacity: 1.0;
	transition: all 2s;
}
.por-img8{
	width:30%;
	position: relative;
	overflow: hidden;
}
.por-img-content8:hover{
	cursor: pointer;
}
.por-img-content8{
	position: absolute;
	top: 230px;
	bottom: 0;
	background-color: #e43c5c;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	opacity: 0;
}
.por-img8:hover .por-img-content8{
	opacity: 1.0;
	transition: all 2s;
}
.por-img9{
	width:30%;
	position: relative;
	overflow: hidden;
}
.por-img-content9:hover{
	cursor: pointer;
}
.por-img-content9{
	position: absolute;
	top: 230px;
	bottom: 0;
	background-color: #e43c5c;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	opacity: 0;
}
.por-img9:hover .por-img-content9{
	opacity: 1.0;
	transition: all 2s;
}
.por-icon i{
	padding: 10px;
}
.por-imgs img:hover{
	transition: all 1s;
	transform: scale(1.1,1.1);
}



			/*TEAM Section*/
			
			
.team-container{
	width: 90%;
	margin: auto;
}
.team-col2{
	display: flex;
	justify-content: space-around;
}
.team-card{
	width: 20%;
}
.team-card{
	position: relative;
}
.team-card-icon{
	display: flex;
	justify-content: space-around;
	padding: 40px;
	width: 100%;
	position: absolute;
	top: 200px;
	background-color: #eee5e78f;
	opacity: 0;
}
.team-card:hover .team-card-icon{
	opacity: 1;
}
.team-card-icon i:hover{
	color: #fa050d;
}
img{
	max-width: 100%;
}
.team-sec img{
	border-radius: 10px;
}
.team-sec{
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 2px 2px 2px 2px #c4bfaf;
	text-align: center;
}
.team-col1{
	text-align: center;
}
.team-col1 p{
	width: 60%;
	margin: auto;
	padding: 20px;
	font-size: 25px;
}
.team-sec p{
	color: #cccac4;
}
.team-col1 span{
	color: #f20a2d;
}
.team-head h5{
	background-color: #e43c5c73;
	color: #fa050d;
	border-radius: 25px;
	width: 15%;
	padding: 10px;
	margin:  auto;
}



			/*Contact us*/
			

#contact{
	margin: 60px 0;
}
.container-contact{
	width: 90%;
	margin: auto;
}
.contact-head h4{
	background-color: #e43c5c73;
	color: #fa050d;
	border-radius: 25px;
	width: 15%;
	padding: 10px;
	margin:  auto;
}
.contact-col1{
	text-align: center;
}
.contact-col1 p{
	width: 60%;
	margin: auto;
	padding: 20px;
	font-size: 25px;
}
.contact-col2{
	display: flex;
	justify-content: center;
}
.contact-col3{
	display: flex;
	padding: 50px;
}
.contact-us1{
	width: 40%;
	padding: 30px;
}
.contact-us2{
	width: 60%;
}
.contact-icon{
	padding: 10px;
}
.contact-icon i{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #db2c3a;
	background-color: #e08ba3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-card{
	display: flex;
	padding: 10px;
}
.form-sec1{
	display: flex;
}
.form1{
	width: 50%;
	padding: 20px;
}
.form1 input{
	width: 100%;
	padding: 10px;
	background-color: #fff;
}
.form2 input[type=email]{
	width: 100%;
	padding: 10px;
	
}
.form2{
	width: 50%;
	padding: 20px;
}
.form-sec input{
	background-color: #fff;
}
.form-sec2{
	padding: 20px;
}
.form-sec2 input{
	width: 100%;
	padding: 10px;
	background-color: #fff;
}
.form-sec3{
	width: 100%;
	padding: 20px;
}
.form-sec3 textarea{
	width: 100%;
	padding: 10px;
}
.form-sec4 button{
	border-radius: 20px;
	width: 20%;
	height: 5vh;
	border: 2px solid #e43c5c;
	color: #fff;
	background-color: #e43c5c;
}
.form-sec3 button:hover{
	cursor: pointer;
}
.form-sec4 {
	justify-content: center;
    display: flex;
}






.links-foot-sec{
	box-shadow: 0 0 10px 0 #a2a9b3;
}
.container-footer{
	width: 90%;
	margin: auto;
}
.row-down-footer{
	display: flex;
}
.col-down1{
	width: 20%;
	padding: 10px;
	
}
.col-down2{
	width: 40%;
	display: flex;
	justify-content: space-around;
	padding: 20px;
}
.links-foot a{
	text-decoration: none;
	padding-left: 5px;
	color: #000;
}
.links-foot a:hover{
	color: #e43c5c;
}
.links-foot{
	padding: 10px;
}
.footer-link1{
	width: 50%;
}
.footer-link2{
	width: 50%;
}
.col-down2 i{
	color:  #e43c5c;
}
.col-down3{
	width: 40%;
}
.form-footer{
	position: relative;
	border-radius: 20px;
}
.foot-col-con{
	padding: 20px;
}
input[type=email]{
	border-radius: 20px;	
	padding: 10px;
	width: 80%;
	background-color: #fff;
}
input{
	border-radius: 20px;
	padding: 10px;
	background-color:  #e43c5c;
	width: 150px;
	color: #fff;
}
.submit-foot{
	position: absolute;
	right: 100px;
	top: 0;
	bottom: 0;
}





.copy{
	background-color: #c4ccc6;
}
.copy-container{
	width: 90%;
	margin: auto;
	padding: 50px;
}
.row-copy{
	display: flex;
	justify-content: space-between;
}
.col-copy1 span{
	color:  #e43c5c;
}
.col-copy2{
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.col-copy2 i{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #e43c5c;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}